// Updated basic colors
$blue: #00adef;
$yellow: #ffc107;
$white: #fff;
$red: #dc3545;
$green: #28a745;

// Updated theme colors
$secondary: #80868c;
$info: #8a6d3b;

$font-family-sans-serif: 'Libre Franklin', sans-serif !default;
$link-hover-decoration: none;

$theme-colors: (
  'blue': $blue,
);

$pagination-hover-bg: $yellow;
$navbar-dark-color: $white;
$navbar-dark-hover-color: $white;
$dropdown-link-hover-bg: $yellow;

@import '~bootstrap';
@import '~bootstrap-vue';


// Override bootstrap bg-danger class. Soften the danger color when used as a background color.
.bg-danger {
  background-color: darken($danger, 12) !important;
}

// Override bootstrap bg-success class. Soften the success color when used as a background color
.bg-success {
  background-color: darken($success, 10) !important;
}

// Highlight the text of links on a page when hovered
a:hover {
  background-color: $yellow;
  color: $black;
}

// Set the background hover color on the links in the page header to
// be a more muted yellow
a.nav-link:hover {
  background-color: rgba($yellow, 0.2);
}

// Turn off hover-over coloring on the image in the header
a.navbar-brand:hover {
  background-color: rgba(0, 0, 0, 0);
}

// For tabs on the compose page and the request detail page
.nav > li > a:not(.active):hover, .nav > li > a:not(.active):focus {
  background-color: rgba($yellow, 0.5);
  border-color: darken($yellow, 20);
}

// Custom button styling

.btn-outline-warning {
  color: darken($yellow, 25);
}

.btn-outline-primary {
  color: darken($primary, 15);
}

.btn-outline-danger {
  color: darken($danger, 25);
}

.btn-outline-secondary {
  color: darken($secondary, 40);
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
  background-color: rgba($yellow, 0.5);
  border-color: darken($yellow, 20);
  color: $black;
}

// General styling

html {
  position: relative;
  background-color: $white;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0.1em 0;
}

.small {
  font-size: 70%;
}
